<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head th:insert="general.html :: headerfiles">
    <title>Log In</title>
</head>
<body>
<header th:insert="general.html :: header"> </header>
<h2>Please log in!</h2>
<form action="/loginWithSecret" method="POST">
    <label>Username</label>
    <input type="text" name="username">

    <label>Password</label>
    <input type="password" name="password">

    <input type="submit" value="Log In">
</form>

</body>
</html>