<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="../styles.css" />
</head>
<body>
<h1>Please log in! (After login, the JSESSIONID in your browser's cookie will contain your login secret.)</h1>
<form action="/loginWithSecret" method="POST">
    <label>Username</label>
    <input type="text" name="username">

    <label>Password</label>
    <input type="password" name="password">

    <input type="submit" value="Log In">
</form>

</body>
</html>